<!doctype html>
<html lang="en">
	<%- include('../partials/common/head'); %>
<body>
	<%- include('../partials/common/header'); %>
	<%- include('../partials/home/banner'); %>
	<%- include('../partials/home/skills'); %>
	<%- include('../partials/home/projects'); %>
	<%- include('../partials/home/recents'); %>
	<%- include('../partials/common/footer'); %>
</body>

</html>
